import todoApp from '../../app';

class {
    onMount() {
        // Subscribe to the change state event. In response
        // to a state change event we will rerender the entire
        // app using the new state.
        this.subscribeTo(todoApp)
            .on('change', () => {
                this.forceUpdate();
            });
    }
}

<todomvc-app todos=todoApp.todos filter=todoApp.filter />
